.myCardT {
  font-size: 1.1em;
  font-weight: 600;
}
.myCardP {
  font-size: 0.7em;
  transform: translateY(-19px);
}
.footerP {
  color: rgb(157, 196, 180);
}
.myP {
  font-weight: 300;
}
h6 {
  font-size: 1em;
  font-weight: 700;
}

// Moderate Risk Positioning
.myR {
  transform: translateY(10px);
}
