// Navbar Color
.navbar{

   background-color: var(--bg);
   height: 60px;

   .offcanvas{

    @media (min-width:576px) {
        width: 30%;
        
    }
    width: fit-content;
    background-color:var(--bg) !important;
    @media (min-width:992px) {
        
        display: none;
    }
}
    .offcanvas-header{
        height: 15px;
        background-color: var(--bg) !important;
    }
    

    .navbar-light .navbar-brand {
        color: var(--logo) !important;
        font-weight: 700;
    
    }
    
    .navbar-toggler{
        border:none;
        @media (min-width:992px) {
            
            display: none;
        }
    }
.logo{
    width: 100%;
    display: flex;
    justify-content: center;
  
}

.dropdown{
    button{
        background-color: white;
        border-radius: 50%;
        color: black;
        border:none;
        
    }
    .dropdown-item{
        font-size: 0.8em;
        text-transform: uppercase;
    }

    a:hover{
        color:var(--teal);
    }
}
}
 
.navbar-light .navbar-brand {
    color: var(--logo) !important;
    font-weight: 700;

}